ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:floralwhite;
}
ul.menu li {
    display: inline-block;
}
ul.menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #100cf0;
    text-shadow: #e9dfdf;
}
ul.menu li a:hover {
    background-color: #ddd;
}
.content {
    padding: 10px;
}

h1 {

    color: #333;
}

p {
    color: #666;
}
.Liste-voiture {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}
.voiture {
    border: 1px solid #ddd;
    padding: 10px;
}
.voiture img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}
.voiture h3 {
    margin-top: 10px;
}
.form-pictures{
    background-color: #100cf0;
    width: 1000px;
    height: 400px;
    text-align: center;
}
.form-pictures img{
    padding: 5px;
    margin: 10px;
    width: 500px;
    height: 300px;
    
}
div form{
    text-align: center;
}
form{
    border: solid 2px;
    width: 600px;
    
}

form input[type='text'], form input[type='email'], form textarea{
    /* padding: 20px; */
    font-size: 1.2rem;
    width: 90%;
    border: solid 2PX cornsilk;
    margin: 10px;
}
 form input [type='submit']{
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    border: none;
    background-color: blue;
    color: #fff;
   /* padding: 8px 24px;
    /* border-radius: 2rem; */
 }
 .whatsapp{
    display: flex;
    justify-content: center;
    justify-items: center;
 }

.whatsapp img.logo{
    height: 35px;
}
.whatsapp span.phone{
    font-size: 15px;
    font-weight: bold;
}