@import url('https://fonts.googleapis.com/css2?family=Poppins:wgt@100;200;300');
*{
    margin: 0;
    padding: 0;;
    font-size: "Poppons," "sans-serif";
    box-sizing: border-box;
    transition: all.2s linear;
    text-decoration: none;
    border: none;
}

html{
    font-size: 120.5%;
    overflow-x: hidden;
    scroll-padding-top: 7em;
    scroll-behavior: smooth;

}
body{
    position: relative;
}
header{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 20;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    height: 50px;
   box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); 
}
header .logo{
    color: red;
    font-size: 25px;
    font-weight: bold;
}
header .logo span {
    color: #000;
}
.menu {
    display: flex;
}
.menu li {
    list-style: none;
    margin: 0 15px;
}
.menu li a {
    font-size: 20px;
    color: #000;
    font-weight: 300;
    transition: 0.3s;
}
.menu li a:hover {
    color: red;
}
header button {
    background-color: red;
    cursor: pointer;
    color: #fff;
    padding: 5px 25px;
}
#home {
    margin-top: 60px;
    height: calc(100vh - 50px);
    padding:  0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
::-webkit-scrollbar {
   width: 8px;
   background-color: transparent;

}

::-webkit-scrollbar-thumb {
    background-color: red;
}
#home .left {
    width: 25%;
}
#home .left h1 {
    font-size: 50px;
    margin-bottom:10px ;    
}
#home .left h1 span {
color: #ea1f33;
}
#home .left p {
    margin-bottom: 35px;
    color: #999;
    font-size: 13px;
}
#home .left a {
    background-color: #ea1f33;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    transition: 0.5s;
}
#home .left a:hover {
    background-color: #000;
}
#home .right {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
#home .right img {
    width: 900%;
}
#cars {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section_title {
    text-transform: uppercase;
    justify-items: center;
    position: relative;
    font-size: 30px;
}
.section_title:before{ 
    position: absolute;
    left: 500px;
    bottom: 0;
    content: "";
    background-color: #ea1f33;
    width: 14%;
    height: 5px;
    border-radius: 6px;

}
.section_title:after { 
    position: absolute;
    left: 0px;
    top:0;
    bottom: 0;
    content: "";
    background-color: #ea1f33;
    width: 14%;
    height: 5px;
    border-radius: 6px;
    
}





































